@rendermode InteractiveServer
@inject AntiforgeryStateProvider Antiforgery

<div class="NavBar">
    <MudAppBar Elevation="1" Fixed="true" Color="Color.Default">
        <MudIconButton Icon="@Icons.Material.Filled.Menu"
                       Color="@Color.Tertiary"
                       Edge="Edge.Start"
                       OnClick="@ToggleDrawer"
                       Class="show-mobile"/>

        <MudText Typo="Typo.h6" Class="ml-2">OrdoWiki</MudText>

        <div class="x-stack gap-4 hide-mobile fill-space justify-center">
            <MudButton Href="/" Class="btn-nav">Home</MudButton>
            <MudButton Href="/logs" Class="btn-nav">Logs</MudButton>
            <MudButton Href="/timeline" Class="btn-nav">Timeline</MudButton>
            <MudButton Href="/characters" Class="btn-nav">Characters</MudButton>
            <MudButton Href="/gallery" Class="btn-nav">Gallery</MudButton>
        </div>

        <MudIconButton Icon="@(ThemeState.IsDarkMode ? Icons.Material.Filled.LightMode : Icons.Material.Filled.DarkMode)"
                       Color="Color.Tertiary"
                       Edge="Edge.End"
                       OnClick="@ToggleTheme"/>
        
        <div class="hide-mobile ml-2">
            <AuthorizeView>
                <Authorized>
                    @{
                        UserDto desktopUser = context.User.ToUserDto();
                        bool desktopIsAdmin = context.User.IsAdmin();
                    }
                    <MudMenu @ref="_desktopMenu"
                             AnchorOrigin="Origin.BottomRight"
                             TransformOrigin="Origin.TopRight">
                        <ActivatorContent Context="menu">
                            <div @onclick="ToggleDesktopMenuAsync" style="cursor:pointer; display:inline-flex">
                                <AuthorName Class="navbar-avatar" User="desktopUser" AvatarSize="Size.Medium"/>
                            </div>
                        </ActivatorContent>
                        <ChildContent>
                            <MudMenuItem Href="/Account/Manage" Icon="@Icons.Material.Filled.Person">Profile</MudMenuItem>
                            @if (desktopIsAdmin)
                            {
                                <MudMenuItem Href="/admin" Icon="@Icons.Material.Filled.AdminPanelSettings">Admin</MudMenuItem>
                            }
                            <MudDivider/>
                            <MudMenuItem OnClick="@SignOutAsync" Icon="@Icons.Material.Filled.Logout">Sign out</MudMenuItem>
                        </ChildContent>
                    </MudMenu>
                </Authorized>
                <NotAuthorized>
                    <MudButton Href="/account/login" Class="btn-nav">Login</MudButton>
                </NotAuthorized>
            </AuthorizeView>
        </div>

    </MudAppBar>

    <MudDrawer @bind-Open="_drawerOpen"
               Variant="DrawerVariant.Temporary"
               Breakpoint="Breakpoint.Md">
        <MudNavMenu>
            <AuthorizeView>
                <Authorized>
                    @{
                        UserDto mobileUser = context.User.ToUserDto();
                        bool mobileIsAdmin = context.User.IsAdmin();
                    }
                    <MudMenu @ref="_mobileMenu"
                             AnchorOrigin="Origin.BottomRight"
                             TransformOrigin="Origin.TopRight">
                        <ActivatorContent Context="menu">
                            <div @onclick="ToggleMobileMenuAsync" style="cursor:pointer; display:inline-flex">
                                <AuthorName Class="navbar-avatar" User="mobileUser" AvatarSize="Size.Medium"/>
                            </div>
                        </ActivatorContent>
                        <ChildContent>
                            <MudMenuItem Href="/Account/Manage" Icon="@Icons.Material.Filled.Person">Profile</MudMenuItem>
                            @if (mobileIsAdmin)
                            {
                                <MudMenuItem Href="/admin" Icon="@Icons.Material.Filled.AdminPanelSettings">Admin</MudMenuItem>
                            }
                            <MudDivider/>
                            <MudMenuItem OnClick="@SignOutAsync" Icon="@Icons.Material.Filled.Logout">Sign out</MudMenuItem>
                        </ChildContent>
                    </MudMenu>
                </Authorized>
                <NotAuthorized>
                    <MudButton Href="/account/login" Class="btn-nav">Login</MudButton>
                </NotAuthorized>
            </AuthorizeView>
            <MudNavLink Href="/" Class="btn-nav" Match="NavLinkMatch.All">Home</MudNavLink>
            <MudNavLink Href="/logs" Class="btn-nav">Logs</MudNavLink>
            <MudNavLink Href="/timeline" Class="btn-nav">Timeline</MudNavLink>
            <MudNavLink Href="/characters" Class="btn-nav">Characters</MudNavLink>
            <MudNavLink Href="/gallery" Class="btn-nav">Gallery</MudNavLink>
        </MudNavMenu>
    </MudDrawer>

    <AuthorizeView>
        <Authorized>
            <form id="logout-form" action="/Account/Logout" method="post" style="display:none">
                <input type="hidden" name="__RequestVerificationToken" value="@Antiforgery.GetAntiforgeryToken()?.Value"/>
                <input type="hidden" name="returnUrl" value=""/>
            </form>
        </Authorized>
    </AuthorizeView>
</div>