@using OrdoWiki.Data.Auth

<span class="AuthorName x-stack align-center gap-1 @Class">
    @if (!string.IsNullOrEmpty(_avatarPath))
    {
        <MudAvatar Size="@AvatarSize" Class="author-avatar">
            <MudImage Src="@_avatarPath" Alt="@_displayName"/>
        </MudAvatar>
    }
    else
    {
        <MudAvatar Size="@AvatarSize" Color="Color.Primary" Class="author-avatar">@_initials</MudAvatar>
    }
    <span class="author-name">@_displayName</span>
    @if (_showRole)
    {
        <MudChip T="string" Variant="Variant.Filled" Size="@ChipSize" Color="@_roleColor" Class="role-chip">
            @User!.Role
        </MudChip>
    }
</span>
